html{
   height: 100vh;
}
*{
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(202, 210, 210);
   width: 100%;
   justify-content: space-around;
   justify-items: center;
   padding: 1%;
}
main{
   width:100%;
   margin: 2%;
}
h1{
   padding-top: 5%;
   text-align: center;
}
section{
   padding-right: 5%;
   padding-left: 5%;
   width: 95%;
   display: flex;
   justify-content: space-between;
}
h2{
    float:right;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
    border: 1px solid black;
    width: 30%;
    font-size: 1.2em;
}
article{
    background-color: grey;
    position: relative;
    border: 1px solid black;
    border-color: black solid;
    margin-top: 5%;
    align-items: space-between;
}
#chicken{
    background-color: rgb(245, 109, 155);
    margin: 0;
}
#beef{
    background-color: rgb(212, 40, 40);
    margin: 0;
}
#sushi{
    background-color: rgb(226, 226, 87);
    margin: 0;
}
p{
    text-align: center;
    padding: 8%;
    margin: 5%;
    text-align: justify;
    clear: both;
}
footer{
    background-color: grey;
    border: 1px solid black;
    padding: 1%;
    width: 100%;
    position: fixed;
    bottom: 0;
}
@media(min-width: 992px){
 html{
    min-width: 992px;
    }
 section{
    flex-direction: row;
    }
 article{
    width: 30%;
    }
}
@media (min-width:768px) and (max-width:991px) {
 html{
    min-width: 768px;
    max-width: 991px;
    }
 section{
    flex-direction: row;
    flex-wrap: wrap;
    column-fill: balance ;
    }
 article{
    width: 45%;
    height: 35%;
    }
 article:nth-child(3){
    width: 100%;
    font-size: large;
    height: 35%;
 }
 article:nth-child(3) p{
   padding: 5%;
   margin: 4%;
 }
 article:nth-child(3) h2{
   padding: 1.5%;
 }
}
@media(max-width:767px){
 html{
    max-width: 767px;
    }
 section{
    flex-direction: column;
    }
 article{
    width: 100%;
    }
 p{
   font-size: large;
}
}
