*{
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(202, 210, 210);
}
h1{
   padding-top: 5%;
   padding-bottom: 5%;
    text-align: center;
}
section{
   margin: 10%;
}
h2{
    float:left;
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
    margin: 0;
    border: 1px solid black;
    width: 30%;
    font-size: 10%;
}
article{
    background-color: grey;
    position: relative;
    border: 1px solid black;
    border-color: black solid;
    margin: 30px;
}
#chicken{
    background-color: rgb(245, 109, 155);
    margin: 0;
}
#beef{
    background-color: rgb(212, 40, 40);
    margin: 0;
}
#sushi{
    background-color: rgb(226, 226, 87);
    margin: 0;
}
p{
    text-align: center;
    padding: 8px;
    margin: 10px;
    text-align: justify;
    clear: both;
}
footer{
    background-color: grey;
    border: 1px solid black;
    height: 2%;
}
@media(min-width: 992px){
 article{
    width: 33.33%;
}
}
@media (min-width:768px) and (max-width:991px) {
article{
    width: 50%;
}
}
@media(max-width:767px){
article{
    width: 100%;
}
}
