*{
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(202, 210, 210);
}
h1{
   padding-top: 5%;
   padding-bottom: 5%;
    text-align: center;
}
article{
    background-color: grey;
    position: relative;
    text-align: center;
    padding: 20px;
    border: 5px solid black;
    border-color: black solid;
}
#chicken{
    background-color: rgb(245, 109, 155);
    position: relative;
    Offset: left;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-color: solid black;
    Margin: 0;
}
#beef{
    background-color: rgb(212, 40, 40);
    position: relative;
    float: right;
    text-align: center;
    padding: 20px;
    border: 1px;
}
#sushi{
    background-color: rgb(226, 226, 87);
    position: relative;
    float: right;
    text-align: center;
    padding: 20px;
    border: 1px;
}
p{
    text-align: center;
    padding: 20px;
    border: 1px;
}
footer{
    background-color: grey;
}
@media(min-width: 992px){

}
@media (min-width:768px) and (max-width:991px) {
    
}
@media(max-width:767px){

}
